<div class="container">
  <form
    class="register-form"
    [formGroup]="registerForm"
    autocomplete="off"
    (ngSubmit)="onSignUp()"
  >
    <h2 style="font-size: 30px">Đăng kí</h2>
    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Tên đăng nhập</mat-label>
        <input
          matInput
          placeholder="Tên đăng nhập"
          formControlName="username"
        />
      </mat-form-field>
      <div *ngIf="registerForm.get('username')?.touched">
        <div
          class="info"
          *ngIf="registerForm.get('username')!.hasError('required')"
        >
          Tên đăng nhập không được để trống
        </div>
        <div
          class="info"
          *ngIf="
            registerForm.get('username')!.hasError('minlength') &&
            !registerForm.get('username')!.hasError('required')
          "
        >
          Tên đăng nhập phải có ít nhất 6 ký tự
        </div>
        <div
          class="info"
          *ngIf="
            registerForm.get('username')!.hasError('maxlength') &&
            !registerForm.get('username')!.hasError('minlength') &&
            !registerForm.get('username')!.hasError('required')
          "
        >
          Tên đăng nhập chỉ có thể có tối đa 32 ký tự
        </div>
        <div
          class="info"
          *ngIf="
            registerForm.get('username')!.hasError('pattern') &&
            !registerForm.get('username')!.hasError('maxlength') &&
            !registerForm.get('username')!.hasError('minlength') &&
            !registerForm.get('username')!.hasError('required')
          "
        >
          Tên đăng nhập không hợp lệ, bạn không được nhập tiếng việt có dấu.
        </div>
        <div
          class="info"
          *ngIf="registerForm.get('username')!.hasError('usernameDuplicated')"
        >
          Tên đăng nhập đã tồn tại!!Vui lòng thử lại tên đăng nhập khác!!
        </div>
      </div>
    </div>

    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Số điện thoại</mat-label>
        <input matInput placeholder="Số điện thoại" formControlName="phone" />
      </mat-form-field>
      <div *ngIf="registerForm.get('phone')?.touched">
        <div
          class="info"
          *ngIf="registerForm.get('phone')!.hasError('required')"
        >
          Số điện thoại không được để trống
        </div>
        <div
          class="info"
          *ngIf="
            registerForm.get('phone')!.hasError('minlength') &&
            !registerForm.get('phone')!.hasError('required')
          "
        >
          Số điện thoại phải có ít nhất 10 ký tự
        </div>
        <div
          class="info"
          *ngIf="
            registerForm.get('phone')!.hasError('maxlength') &&
            !registerForm.get('phone')!.hasError('minlength') &&
            !registerForm.get('phone')!.hasError('required')
          "
        >
          Bạn đã nhập quá độ dài. Số điện thoại chỉ có tối đa 10 ký tự
        </div>
        <div
          class="info"
          *ngIf="
            registerForm.get('phone')!.hasError('pattern') &&
            !registerForm.get('phone')!.hasError('required') &&
            !registerForm.get('phone')!.hasError('maxlength') &&
            !registerForm.get('phone')!.hasError('minlength')
          "
        >
          Số điện thoại không hợp lệ, bạn phải nhập bắt đầu bằng số 0 và toàn là
          kí tự số
        </div>
      </div>
    </div>
    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Mật khẩu</mat-label>
        <input
          type="{{ hidePassword ? 'password' : 'text' }}"
          matInput
          placeholder="Mật khẩu"
          formControlName="password"
        />
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>
      <div *ngIf="registerForm.get('password')?.touched">
        <div
          class="info"
          *ngIf="registerForm.get('password')!.hasError('required')"
        >
          Mật khẩu không được để trống
        </div>
        <div
          class="info"
          *ngIf="
            registerForm.get('password')!.hasError('minlength') &&
            !registerForm.get('password')!.hasError('required')
          "
        >
          Mật khẩu phải có ít nhất 6 ký tự
        </div>
        <div
          class="info"
          *ngIf="
            registerForm.get('password')!.hasError('maxlength') &&
            !registerForm.get('password')!.hasError('minlength') &&
            !registerForm.get('password')!.hasError('required')
          "
        >
          Mật khẩu chỉ có thể có tối đa 32 ký tự
        </div>
        <div
          class="info"
          *ngIf="
            registerForm.get('password')!.hasError('pattern') &&
            !registerForm.get('password')!.hasError('required') &&
            !registerForm.get('password')!.hasError('minlength') &&
            !registerForm.get('password')!.hasError('maxlength')
          "
        >
          Mật khẩu không hợp lệ, mật khẩu phải chứa ít nhất 1 kí tự đặc biệt: Ví
          dụ "#12345,!12345"
        </div>
      </div>
    </div>
    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Nhập lại mật khẩu</mat-label>
        <input
          type="{{ hideConfirmPassword ? 'password' : 'text' }}"
          matInput
          placeholder="Nhập lại mật khẩu"
          formControlName="confirmPassword"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="toggleConfirmPasswordVisibility()"
        >
          <mat-icon>{{
            hideConfirmPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>
      <div *ngIf="registerForm.get('confirmPassword')?.touched">
        <div
          class="info"
          *ngIf="registerForm.get('confirmPassword')!.hasError('required')"
        >
          Nhập lại mật khẩu không được để trống
        </div>
        <div
          class="info"
          *ngIf="
            registerForm.get('confirmPassword')!.hasError('minlength') &&
            !registerForm.get('confirmPassword')!.hasError('required')
          "
        >
          Nhập lại mật khẩu phải có ít nhất 6 ký tự
        </div>
        <div
          class="info"
          *ngIf="
            registerForm.get('confirmPassword')!.hasError('maxlength') &&
            !registerForm.get('confirmPassword')!.hasError('minlength') &&
            !registerForm.get('confirmPassword')!.hasError('required')
          "
        >
          Nhập lại mật khẩu chỉ có thể có tối đa 32 ký tự
        </div>

        <div
          class="info"
          *ngIf="
            registerForm.get('confirmPassword')!.hasError('pattern') &&
            !registerForm.get('confirmPassword')!.hasError('required') &&
            !registerForm.get('confirmPassword')!.hasError('minlength') &&
            !registerForm.get('confirmPassword')!.hasError('maxlength')
          "
        >
          Nhập lại mật khẩu không hợp lệ, phải chứa ít nhất 1 kí tự đặc biệt: Ví
          dụ: "#12345, !12345",
        </div>
        <div
          class="info"
          *ngIf="registerForm.hasError('passwordMatchValidator')"
        >
          Mật khẩu không khớp!!
        </div>
      </div>
    </div>
    <div class="sign-in">
      <span>Bạn đã có tài khoản? </span>
      <a (click)="onSignIn()" class="sign-in-link">Đăng nhập</a>
    </div>
    <div class="row-control row-actions">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="registerForm.invalid"
      >
        Đăng kí
      </button>
    </div>
  </form>
</div>
