<h1>Thêm bài viết</h1>
<form>
  <label for="title">Tên bài viết:</label>
  <input type="text" id="title" name="title" />

  <label for="content">Nội dung:</label>
  <textarea id="content" name="content" rows="4" cols="50"></textarea>

  <label for="photo">Hình ảnh:</label>
  <input type="file" id="photo" name="photo" />

  <label for="userId">Người viết:</label>
  <span>{{ getUserName() }}</span>

  <label for="categoryId">Loại bài viết:</label>
  <select id="categoryId" name="categoryId">
    <!-- <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option> -->
  </select>

  <button type="submit" (click)="submitArticle()">Đăng bài</button>
</form>
