<h1>Thêm bài viết</h1>
<form (ngSubmit)="submitArticle()">
  <label for="title">Tên bài viết:</label>
  <input
    type="text"
    id="title"
    name="title"
    [(ngModel)]="post.postName"
    (ngModelChange)="logData()"
  />

  <label for="content">Nội dung:</label>
  <textarea
    id="content"
    name="content"
    rows="4"
    cols="50"
    [(ngModel)]="post.content"
    (ngModelChange)="logData()"
  ></textarea>

  <label for="photo">Hình ảnh:</label>
  <input
    type="file"
    id="photo"
    name="photo"
    (change)="onFileChange($event)"
    (ngModelChange)="logData()"
  />

  <label for="userId">userId:</label>
  <textarea
    id="userId"
    name="userId"
    rows="4"
    cols="50"
    [(ngModel)]="post.userId"
    (ngModelChange)="logData()"
  ></textarea>

  <label for="categoryId">Loại bài viết:</label>
  <select id="categoryId" name="categoryId" [(ngModel)]="post.categoryId">
    <option *ngFor="let category of categories" [value]="category.categoryId">
      {{ category.categoryName }}
    </option>
  </select>

  <button type="submit">Đăng bài</button>
</form>
