<div class="container">
  <form
    class="signin-form"
    [formGroup]="formSignin"
    autocomplete="off"
    (ngSubmit)="formSubmit$.next(true)"
  >
    <h2 style="font-size: 30px">Đăng nhập</h2>
    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Tên đăng nhập</mat-label>
        <input
          matInput
          placeholder="Tên đăng nhập"
          formControlName="userName"
        />
      </mat-form-field>
      <div *ngIf="formSignin.get('userName')?.touched">
        <div
          class="info"
          *ngIf="formSignin.get('userName')!.hasError('required')"
        >
          Tên đăng nhập không được để trống
        </div>
        <div
          class="info"
          *ngIf="
            formSignin.get('userName')!.hasError('minlength') &&
            !formSignin.get('userName')!.hasError('required')
          "
        >
          Tên đăng nhập phải có ít nhất 6 ký tự
        </div>
        <div
          class="info"
          *ngIf="
            formSignin.get('userName')!.hasError('maxlength') &&
            !formSignin.get('userName')!.hasError('minlength') &&
            !formSignin.get('userName')!.hasError('required')
          "
        >
          Tên đăng nhập chỉ có thể có tối đa 32 ký tự
        </div>
        <div
          class="info"
          *ngIf="
            formSignin.get('userName')!.hasError('pattern') &&
            !formSignin.get('userName')!.hasError('maxlength') &&
            !formSignin.get('userName')!.hasError('minlength') &&
            !formSignin.get('userName')!.hasError('required')
          "
        >
          Tên đăng nhập không hợp lệ, bạn không được nhập tiếng việt có dấu và
          dấu cách.
        </div>

        <div
          *ngIf="
            formSignin.get('userName')?.errors &&
            formSignin.get('userName')?.dirty
          "
        >
          <div
            class="info"
            *ngIf="formSignin.get('userName')!.hasError('usernameDuplicated')"
          >
            Tên đăng nhập không tồn tại trong hệ thống
          </div>
        </div>
      </div>
    </div>

    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Mật khẩu</mat-label>
        <input
          type="{{ hidePassword ? 'password' : 'text' }}"
          matInput
          placeholder="Mật khẩu"
          formControlName="password"
        />
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>
      <div *ngIf="formSignin.get('password')?.touched">
        <div
          class="info"
          *ngIf="formSignin.get('password')!.hasError('required')"
        >
          Mật khẩu không được để trống
        </div>
        <div
          class="info"
          *ngIf="
            formSignin.get('password')!.hasError('minlength') &&
            !formSignin.get('password')!.hasError('required')
          "
        >
          Mật khẩu phải có ít nhất 6 ký tự
        </div>
        <div
          class="info"
          *ngIf="
            formSignin.get('password')!.hasError('maxlength') &&
            !formSignin.get('password')!.hasError('minlength') &&
            !formSignin.get('password')!.hasError('required')
          "
        >
          Mật khẩu chỉ có thể có tối đa 32 ký tự
        </div>
        <div
          class="info"
          *ngIf="
            formSignin.get('password')!.hasError('pattern') &&
            !formSignin.get('password')!.hasError('required') &&
            !formSignin.get('password')!.hasError('minlength') &&
            !formSignin.get('password')!.hasError('maxlength')
          "
        >
          Mật khẩu không hợp lệ, mật khẩu phải chứa ít nhất 1 kí tự đặc biệt: Ví
          dụ "#12345,!12345"
        </div>
      </div>
    </div>

    <div class="sign-up">
      <span>Bạn chưa có tài khoản? </span>
      <a (click)="onSignUp()" class="sign-up-link">Đăng ký</a>
    </div>
    <br />
    <div class="row-control row-actions">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="formSignin.invalid"
        (click)="onSignIn()"
      >
        Đăng nhập
      </button>
    </div>
  </form>
</div>
