.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  
  .signin-form {
	width: 400px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #f9f9f9;
  }
  
  h2 {
	text-align: center;
  }
  
  .row-control {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
  }
  
  .mat-form-field {
	width: 100%;
  }
  
  .row-actions {
	display: flex;
	justify-content: center;
  }
  
  .error-message {
	color: red;
	font-size: 14px;
	margin-top: 8px;
  }
  
  .info{
	text-align: center;
	color: red;
  }
  
  .sign-in {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	/* Căn giữa theo chiều dọc */
  }
  
  .sign-in span {
	margin-right: 10px; /* Khoảng cách giữa text và link */
  }
  
  .sign-in-link {
	text-decoration: none;
	color: #007bff; /* Màu của link */
  }
  
  .sign-in-link:hover {
	text-decoration: underline; /* Hiển thị gạch chân khi di chuột qua */
  }