<div class="container">
  <form
    class="signin-form"
    [formGroup]="formSignin"
    autocomplete="off"
    (ngSubmit)="formSubmit$.next(true)"
  >
    <h2 style="font-size: 30px">Đăng kí</h2>
    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Tên đăng nhập</mat-label>
        <input
          matInput
          placeholder="Tên đăng nhập"
          formControlName="username"
        />
      </mat-form-field>
      <div *ngIf="formSignin.get('username')?.touched">
        <div
          class="info"
          *ngIf="formSignin.get('username')!.hasError('required')"
        >
          Tên đăng nhập không được để trống
        </div>
        <div
          class="info"
          *ngIf="
          formSignin.get('username')!.hasError('minlength') &&
            !formSignin.get('username')!.hasError('required')
          "
        >
          Tên đăng nhập phải có ít nhất 6 ký tự
        </div>
        <div
          class="info"
          *ngIf="
          formSignin.get('username')!.hasError('maxlength') &&
            !formSignin.get('username')!.hasError('minlength') &&
            !formSignin.get('username')!.hasError('required')
          "
        >
          Tên đăng nhập chỉ có thể có tối đa 32 ký tự
        </div>
        <div
          class="info"
          *ngIf="
          formSignin.get('username')!.hasError('pattern') &&
            !formSignin.get('username')!.hasError('maxlength') &&
            !formSignin.get('username')!.hasError('minlength') &&
            !formSignin.get('username')!.hasError('required')
          "
        >
          Tên đăng nhập không hợp lệ, bạn không được nhập tiếng việt có dấu và dấu cách.
        </div>  
        
        <div *ngIf="formSignin.get('username')?.errors && formSignin.get('username')?.dirty">
          <div class="info" *ngIf="formSignin.get('username')!.hasError('usernameDuplicated')">
            Tên đăng nhập không tồn tại trong hệ thống
          </div>
        </div>
      </div>
    </div> 

    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Mật khẩu</mat-label>
        <input
          type="{{ hidePassword ? 'password' : 'text' }}"
          matInput
          placeholder="Mật khẩu"
          formControlName="password"
        />
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>
      <div *ngIf="formSignin.get('password')?.touched">
        <div
          class="info"
          *ngIf="formSignin.get('password')!.hasError('required')"
        >
          Mật khẩu không được để trống
        </div>
    
    </div>
    
    </div>
    <div class="sign-up">
      <span>Bạn đã có tài khoản? </span>
      <a (click)="onSignin()" class="sign-up-link">Đăng ký</a>
    </div>
    <br>
    <div class="row-control row-actions">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="formSignin.invalid"
        (click)="onSignin()"
      >
        Đăng nhập
      </button>
    </div>
  </form>
</div>