<div class="container">
  <form
    class="signin-form"
    [formGroup]="formSignin"
    autocomplete="off"
    (ngSubmit)="onSignIn()"
  >
    <h2 style="font-size: 30px">Đăng nhập</h2>
    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Tên đăng nhập</mat-label>
        <input
          matInput
          placeholder="Tên đăng nhập"
          formControlName="userName"
        />
      </mat-form-field>
      <div *ngIf="formSignin.get('userName')?.touched">
        <!-- Error messages here -->
      </div>
    </div>
    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Mật khẩu </mat-label>
        <input
          [type]="hidePassword ? 'password' : 'text'"
          matInput
          placeholder="Mật khẩu"
          formControlName="password"
        />
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>
      <div *ngIf="formSignin.get('password')?.touched">
        <!-- Error messages here -->
      </div>
    </div>
    <div class="sign-up">
      <span>Bạn chưa có tài khoản? </span>
      <a (click)="onSignUp()" class="sign-up-link">Đăng ký</a>
    </div>
    <br />
    <div class="row-control row-actions">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="formSignin.invalid"
      >
        Đăng nhập
      </button>
    </div>
  </form>
</div>
