<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog cá nhân</title>
  </head>
  <body>
    <header>
      <div class="container">
        <h1><a href="#">Blog của tôi</a></h1>
        <nav>
          <ul>
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Bài viết</a></li>
            <li><a href="#">Liên hệ</a></li>
            <li><a href="#">Khác</a></li>
          </ul>
        </nav>
      </div>
      <div class="auth-buttons">
        <!-- Các nút đăng nhập và đăng ký -->
        <button (click)="onSignUp()">Đăng nhập</button>
        <button class="sign-in" (click)="onSignIn()">Đăng ký</button>
      </div>
    </header>

    <main>
      <h1 style="margin: 50px">Trang giới thiệu</h1>
    </main>

    <!-- <script src="script.js"></script> -->
  </body>
</html>
