body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 0;
  padding: 20px;
}

.list-item {
  border: 1px solid;
  padding: 20px;
  margin: 20px;
}

.header-blog {
  font-weight: bold;
  color: #fff !important;
}

header {
  background-color: #d8a899;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

h1 {
  font-size: 40px;
  margin: 0;
}

h1 a {
  color: #333;
  text-decoration: none;
}

.auth-buttons {
  display: flex;
  align-items: center;
}

.auth-buttons button {
  margin-left: 10px;
  width: 150px;
  height: 30px;
  cursor: pointer;
}

.auth-buttons span {
  margin-right: 10px;
}

.sider-menu {
  border: 1px solid;
}

.add-article {
  display: flex;
  justify-content: flex-end;
  margin: 10px 20px;
  padding: 10px 30px;
}
