<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Animated Signin</title>
  </head>

  <body>
    <div class="box">
      <form autocomplete="off">
        <h2>Đăng nhập</h2>
        <div class="inputBox">
          <input
            type="text"
            [(ngModel)]="signupOj.userName"
            id="username"
            name="userName"
            required="required"
          />
          <span>Tên Đăng nhập</span>
          <i></i>
        </div>

        <div class="inputBox">
          <input
            type="password"
            [(ngModel)]="signupOj.cfpassword"
            name="cfpassword"
            id="cfpassword"
            required="required"
          />
          <span> Mật khẩu</span>
          <i></i>
        </div>
        <div class="links">
          <a href="#">Bạn chưa có tài khoản ?</a>
          <a href="#">Đăng kí</a>
        </div>
        <input type="submit" (click)="onSignup()" value="Signup" />
      </form>
    </div>
  </body>
</html>
