<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo">Logo</div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="Bài viết" nzIcon="snippets">
        <ul>
          <li nz-menu-item>
            <a (click)="showArticleMeComponent()"> Bài viết của tôi</a>
          </li>
          <li nz-menu-item>
            <a (click)="showArticleAllComponent()"> Tất cả bài viết</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="User" nzIcon="user">
        <ul>
          <li nz-menu-item>
            <span
              nz-icon
              nzType="info-circle"
              nzTheme="outline"
              style="margin-right: 10px"
            ></span>
            <a (click)="showPerInfoComponent()">Thông tin cá nhân</a>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="key" style="margin-right: 10px"></span>
            <a (click)="showChangePasswordComponent()"> Đổi mật khẩu </a>
          </li>
        </ul>
      </li>
      <nz-content>
        <nz-breadcrumb
          *ngIf="
            !showChangePassword &&
            !showAddArticle &&
            !showArticleMe &&
            !showArticleAll &&
            !showPerInfo
          "
        >
          <nz-breadcrumb-item style="font-size: 30px"
            >Trang chủ</nz-breadcrumb-item
          >
        </nz-breadcrumb>
        <div
          class="inner-content"
          *ngIf="
            !showChangePassword &&
            !showAddArticle &&
            !showArticleMe &&
            !showArticleAll &&
            !showPerInfo
          "
        >
          Danh sách bài viết
        </div>
        <div *ngIf="showChangePassword">
          <app-change-password></app-change-password>
        </div>

        <div *ngIf="showArticleMe">
          <app-article-me></app-article-me>
        </div>
        <!-- Hiển thị component AddArticles khi showAddArticle là true -->
        <div *ngIf="showArticleAll">
          <app-article-all></app-article-all>
        </div>
        <div *ngIf="showAddArticle">
          <app-add-articles></app-add-articles>
        </div>
        <div *ngIf="showPerInfo">
          <app-per-info></app-per-info>
        </div>
      </nz-content>
      <footer>
        <div style="text-align: center; margin: 0 auto">
          <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
        </div>
      </footer></ul></nz-sider
></nz-layout>
